<nav class="navbar bg-dark">
    <a href="/" class="navbar-brand text-warning">Kisan Mitra</a>
    <div class="navbar-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#addmodal" id="addButton">Upload</button>
        
        
        
        <div class="modal" id="addmodal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addmodalLabel">Upload Image</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            X
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class="form-group">
                            <input type="file" name="file" accept="image/*" multiple>
                            <button type="submit" class="btn btn-outline-success">Check <i class="fas fa-angle-double-right"></i></button>
                        </form>
                       
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"  data-dismiss="modal">Add</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</nav>